.container{
    width: 90%;
    margin: 0 auto;
}

@media (min-width: 768px){
    .container{
        width: 740px;
    }  
}
@media (min-width: 992px){
    .container{
        width: 980px;
    }  
}
    
@media (min-width: 1200px){
    .container{
        width: 1140px;
    }
}
    