.btn{
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    border: 2px solid #FEF62C;
    font-weight: bold;
    font-size: 18px;
    color: $textcolor;
    transition: all 0.25s;
}
.btn:hover{
    cursor: pointer;
    background: rgba(254, 201, 44, 0.2);
}  

.btn-wrap {
    position: relative;
    &::after {
        content: "";
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        bottom: -5px;
        left: 0;
        background: #D5AF26;
        box-shadow: 0px 5px 37px -2px #FEDF3A;
        border-radius: 14px;
        z-index: -1;
    }
}
.btn--accent{
    overflow: hidden;
    transition: all 0.2s;
    &:before{
        content: "";
        top: -50%;
        right: -50%;
        right: -50%;
        bottom: -50%;
        left: -50%;
        background: linear-gradient(to bottom,rgba(229,172,142,0),rgba(255,255,255,.7) 50%,rgba(229,172,142,0));
        transform: rotateZ(60deg) translate(-5em,7.5em);
        opacity: 0;
        position: absolute;
        z-index: 1;
        filter: alpha(opacity=0);
        animation: sheens 3s infinite;
    }
}
    
.btn--full{
    border: none;
    position: relative;
    background: linear-gradient(264.4deg, #FEF62C 0%, #FEB72C 134.6%);
    &::after {
        content: "";
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        bottom: -5px;
        left: 0;
        background: #D5AF26;
        box-shadow: 0px 5px 37px -2px #FEDF3A;
        border-radius: 14px;
        z-index: -1;
    }
}
.btn--full:hover {
    background: linear-gradient(265.41deg, #FEF62C -50.1%, #FEB72C 87.6%);
}


@media (min-width: 992px){
    .btn {
        height: 88px;
        font-size: 22px;
    }
    .btn--full{
        &:hover{
            background-color: #fbb929;
            border-color: $accent;
        }    
    }
}